

body {
    background-color: #fcfbfb;
    font-family: 'Roboto', 'Helvetica', 'sans-serif';
    font-size: 22px;
    margin: 0;
    padding: 0;
}

#content {
    max-width: 1600px;
    margin: auto;
    padding: 10px;

}



h2 {
    margin: 0;
    font-family: 'Sofia', 'Helvetica', 'sans-serif';
}

#background {
    height: 725px;
    background-color: #B5E48C;

}





.msg{
    background-color: #B5E48C;
    line-height: 1.5em;
    margin: auto;
    padding: 35px;
    
}

.msg h2 {
    background-color: #B5E48C;
    color: black;
    font-family: 'Sofia', 'Helvetica', 'sans-serif';
    font-size: 1.5em;
}

.msg p{
    background-color:  #B5E48C;
    color: black;
    font-family: 'Roboto', 'Helvetica', 'sans-serif';
    font-size: .8em;
    padding-bottom: 15px;
}




footer{
    background-color: #73a580;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
}


header {
    background-color: #99D98C;
}
nav a:hover {
    background-color: #168aad;
    color: white;
    
}

.home-title{
    background-color: white;
    color: gray;
    font-family: 'Ravie', 'Helvetica', 'sans-serif';
    font-size: 2em;
    margin-top: 10px;
}

h4{
    background-color: white;
    color: black;
    font-family: 'Roboto', 'Helvetica', 'sans-serif';
}
    



#hero-img{
    width: 100%
}
.logo{
    width: 80px;
    padding: 5px;
}

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    font-family: 'Roboto', 'Helvetica', 'sans-serif';
    padding: 35px;
    
}     



#hero-msg h1 {
    text-align: center;
    color: #99D98C;
    text-decoration: none;
    text-shadow: 2px 2px black;
    
}

#hero-msg h4 {
    text-align: center;
    color: black;
    text-decoration: none;
    
    
}

.button-box {
    text-align: center;
    color: black;
    text-decoration: none;
    margin-bottom: 100px;
    font-family: 'Sofia', 'Helvetica', 'sans-serif';
    font-size: 2em;
    
}

main section {
    text-align: center;
    color: black;
    text-decoration: none;
}

.book{
    text-align: center;
    color: black;
    text-decoration: none;
    background-color: #99D98C;
}

.book:hover {
    background-color:  #168aad;
    color: white;
}

.join{
    text-align: center;
    color: black;
    text-decoration: none;
    background-color: #99D98C;
    font-family: 'Sofia', 'Helvetica', 'sans-serif';
    font-size: 2em;
}

.join:hover{
    background-color:  #168aad;
    color: white;
}

footer a {
    text-align: left;
    color: black;
    text-decoration: none;
}

footer a:hover {
    background-color:  #168aad;
        color: White;
}

footer p, footer p a {
    font-size: 1em;
    color: #3e363f;
    font-family: 'Roboto', 'Helvetica', 'sans-serif';
    
}

footer p a:hover {
    text-decoration: underline;
} 

footer .social img {
    padding-top: 15px;
}

.book, .join {
    background-color: lightblue;
    color: black;
    text-decoration: none;
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 15px 30px;  
    border-radius: 50px;
    border: 10px solid darkgreen;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img{
    border: 10px solid darkgreen;
}

main section img {
    box-sizing: border-box;
}

.icon {
    padding-top: 10px;
}

#logo_link {
    padding-top: 5px;
}

.mountains {
    padding-top: 50px;
    padding-bottom: 100px;
}