body {
    max-width: 1600px;
    margin: 0 auto;
    text-align: left; 
  }

#background {
    height: 725px;
}

#background {
    background-color: #B5E48C;
}

.msg{
    background-color: #B5E48C;
}

.msg h2 {
    background-color: #B5E48C;
    color: black;
}

.msg p{
    background-color:  #B5E48C;
    color: black;
}




footer{
    background-color: #B5E48C;
    color: black;
}


header {
    background-color: #99D98C;
}
nav a:hover {
    background-color: #168aad;
    color: white;
    
}

.home-title{
    background-color: white;
    color: black;
}

h4{
    background-color: white;
    color: black;}



#hero-img{
    width: 100%
}
.logo{
    width: 80px;
}

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    
}     



#hero-msg h1 {
    text-align: center;
    color: black;
    text-decoration: none;
}

#hero-msg h4 {
    text-align: center;
    color: black;
    text-decoration: none;
}

.button-box {
    text-align: center;
    color: black;
    text-decoration: none;
}

main section {
    text-align: center;
    color: black;
    text-decoration: none;
}

.book{
    text-align: center;
    color: black;
    text-decoration: none;
    background-color: #99D98C;
    ;
}

.book:hover {
    background-color:  #168aad;
    color: white;
}

.join{
     text-align: center;
    color: black;
    text-decoration: none;
    background-color: #B5E48C;
}

.join:hover{
    background-color:  #168aad;
    color: white;
}

footer a {
    text-align: left;
    color: black;
    text-decoration: none;
}

footer a:hover {
    background-color:  #168aad;
        color: White;
}

footer p {
    font-size: 1em;
}    

footer p a:hover {
    text-decoration: underline;
} 